<%= render 'layouts/user_header' %>
<div class="container mb-5 mt-5">
	<div class="row">
		<div class="col-12">
		    <%= form_with url:search_users_path, method: :get, local: true do %>
            <%= text_field_tag :search, params[:search], value:"", id: "form", class:"form-control mr-sm-2", placeholder:"スキルやニックネームを入力してください" %>
            <% end %>
			<!--posts一覧-->
			<div class="table table-hover table-responsive">
			<table class="table text-nowrap">
			<thead>
					    <tr>
					      <th></th>
					      <th>ニックネーム</th>
					      <th>スキル1</th>
					      <th>スキル2</th>
					      <th>自己紹介</th>
					    </tr>
					 </thead>
					 <tbody id="result">
					 <!--user.jsのuser一覧-->
					 </tbody>
			</table>
			</div>
          </div>
		</div>
	</div>
</div>
