<%= render 'layouts/user_header' %>

  <div class="jumbotron jumbotron-fluid about_top">
    <div class="container jumbotron_text">
      <h1 class="display-5">ようこそ!</h1>
      <p class="lead">本サイトはクリエイティブなスキルを持っているあなた、まさに今勉強中のあなたを手助けするサイトです。<br/>
      同ジャンルにとどまらず、他ジャンル同士でも繋がることができます。そんなスキルとスキルのマッチングアプリです。</p>
      <a class="btn btn-outline-info btn-lg active" href="/users/sign_up" role="button">新規登録(無料)</a>
    </div>
  </div>

  <!-- フィーチャーを開始 -->
  <div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">スキルとスキルのマッチング</h2>
      <p class="lead">このアプリでは、あらゆるスキルとスキルのマッチングができます!<br/>
      資格がないスキルを持った人が実績を積み上げていくことや、活動メンバーを探したり、他ジャンルのスキルを持った人を探すことでより良い経験に繋げられます！<br/>
      まずは気になる人をフォローしてマッチングしましょう!</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "Teamwork.jpg", :size => '400x400' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">タイムライン機能</h2>
      <p class="lead">普段の活動を投稿することができます。<br/>
      YouTubeでの投稿が必須で、日頃からスキルの発信ができます。<br/>
      タイムラインを充実させることでスキルの向上や日々の発信に繋がり,色んな人からオファーが来るに違いありません！<br/>
      どんどんタイムライン投稿をしましょう!</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag "about2.png", :size => '400x400' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">募集機能</h2>
      <p class="lead">このアプリでは、様々な活動の募集が行えます！<br/>
      たとえば、バンドメンバーが足りずに困っている... 動画編集の実績を積みたい...<br/>
      など、実績を作ったり、困りごとを解決できる人を探したりすることができます！<br/>
      募集機能を上手に使ってマッチングに繋げましょう！</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "about3.jpg", :size => '400x400' %>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /フィーチャーを終了 -->

</div><!-- /.container -->
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>