<%= render 'layouts/user_header' %>

  <div class="jumbotron jumbotron-fluid about_top">
    <div class="container jumbotron_text">
      <h1 class="display-5">ようこそ!</h1>
      <p class="lead">本サイトはクリエイティブなスキルを持っているあなた、まさに今勉強中のあなたを手助けするサイトです。<br/>
      同ジャンルにとどまらず、他ジャンル同士でも繋がることができます。そんなスキルとスキルのマッチングアプリです。</p>
      <a class="btn btn-outline-info btn-lg active" href="/users/sign_up" role="button">新規登録(無料)</a>
    </div>
  </div>

  <!-- フィーチャーを開始 -->
  <div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">スキルとスキルのマッチング</h2>
      <p class="lead">このアプリでは、あらゆるスキルとスキルのマッチングができます。世の中には必要とされているが、資格のないスキルがたくさんあります。また、活動メンバーを探したり、他ジャンルのスキルを持った人を探すこともできます。まずは気になる人をフォローしてマッチングしましょう！</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "Teamwork.jpg", :size => '400x400' %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">タイムライン機能</h2>
      <p class="lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">募集機能</h2>
      <p class="lead">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"><title>一般的なプレースホルダ画像</title><rect fill="#eee" width="100%" height="100%"/><text fill="#aaa" dy=".3em" x="50%" y="50%">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /フィーチャーを終了 -->

</div><!-- /.container -->
</main>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>
</body>