<%= render 'layouts/user_header' %>
<div class="jumbotron bg-white">
	<h1 class="display-4">Welcome to skiller</h1>
	<p class="lead">本サイトはクリエイティブなスキルを持っているあなた、まさに今勉強中のあなたを手助けするサイトです。<br/>
	同ジャンルにとどまらず、他ジャンル同士でも繋がることができます。そんなスキルとスキルのマッチングサイトです。</p>
	<hr class="my-4">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<a class="btn btn-primary btn-lg" href="/home/about" role="button">初めての方へ</a>
</div>
<%= render 'layouts/user_footer' %>