/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require font-awesome
 */
 @import "bootstrap";
 @import "font-awesome";

.fa-circle {
   position: absolute;
   padding-left: 4rem;
   padding-top: 0rem;
}

 

 footer {
    width:100%;
    color:#FFF;
    font-size:12px;
 }

 .nav-item a{
    text-decoration:none;
  }

 .nav-item a:hover{
    text-decoration:none;
    color: #ff00ff !important;
    transition: all 0.3s ease 0s;
    transform: translateY(-0.1875em);
  }
