// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: image-url("skiller3.png");
  background-repeat:  no-repeat;
  background-position:center center;
  background-size:contain;
  background-color: white;
  width:100%;
  height:400px;
}

.footer_image {
  background-image: image-url("Thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:300px;
}

.navbar-expand-lg{
  box-shadow: 2px 2px 4px gray;
  margin-bottom: 30px;
}

.media-home{
  position: relative;
  height: 500px;
}

.media-children{
  position: absolute;
  bottom: 10px;
}



body {
  color: #5a5a5a;
}



/* マーケティング・コンテンツ
-------------------------------------------------- */

/* カルーセルの下の3列の中のテキストを整列 */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* フィーチャー
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* ブートストラップの&lt;hr&gt;をもっと外に出す */
}

/* マーケティングの見出しを細めにする */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* レスポンシブCSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* カルーセルコンテンツのサイズを大きくする */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}