// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* topページ
-------------------------------------------------- */
.jumbotron {
  background-image: image-url("skiller3.png");
  background-repeat:  no-repeat;
  background-position:center center;
  background-size:contain;
  background-color: #fffaf0;
  width:100%;
  height:400px;
}

.footer_image {
  background-image: image-url("Thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height:300px;
}

.navbar-expand-lg{
  box-shadow: 2px 2px 4px gray;
}

.media-home{
  position: relative;
  height: 450px;
}

.media-children{
  position: absolute;
  bottom: 10px;
}



body {
  color: #5a5a5a;
}

.youtube {
  margin-left: 50px;
}






/* レスポンシブCSS
-------------------------------------------------- */

@media screen and (max-width:425px) {
  .youtube {
    width: 115% !important;
    height: 230px !important;
    margin-left: 0;
  }

  .jumbotron {
    background-image: image-url("skiller3.png");
    background-repeat:  no-repeat;
    background-position:center center;
    background-size:contain;
    background-color: white;
    width:100%;
    height:250px;
    margin-bottom: 380px;
  }

  .jumbotron_text {
    margin-top:250px;
  }

  .footer_link {
    margin: 0 auto;
  }
}

/* aboutページ
-------------------------------------------------- */

.about_top {
  background-image: image-url("Thumbnail2.png");
  background-size: cover;
  background-position: center 30%;
  color: white;
}

.featurette-divider {
  margin: 5rem 0;
}


.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}
